body {
  background-color: black;
}

.logo:hover {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
}

@media (max-width: 767.98px) {
  #logo_section {
    background-image: none;
    flex-direction: column;
    align-content: center;
    height: 100%;
  }
  .wole-menu {
    margin-top: 10px;
    width: 100%;
    justify-content: center;
  }
  .logo {
    display: none;
  }
}

@media (min-width:768px) {
  .wole-menu {
    margin-top: 30px;
    width: 70%;
    justify-content: center;
  }
  #logo_section {
    background-image: url("images/dot_o_stroke_bg.png");
    background-size: cover;
    flex-direction: column;
    align-content: center;
    height: 240px;
  }
  .logo {
    height: 7rem;
    width: 7rem;
    margin-top: 40px;
    margin-bottom: 10px;
    overflow: hidden;
    transition-duration: 0.8s;
    transition-property: transform;
  }
}

@media (min-width:992px) {
  .wole-menu {
    margin-top: 60px;
  }
  #logo_section {
    height: 340px;
  }
  .logo {
    height: 10rem;
    width: 10rem;
    margin-top: 50px;
  }
}

@media (min-width:1200px) {
  .wole-menu {
    margin-top: 80px;
  }
  #logo_section {
    height: 380px;
  }
  .logo {
    height: 11rem;
    width: 11rem;
    margin-top: 60px;
  }
}

.Wole-container {
  padding: 20px;
  margin-left: 0px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

a {
  color: grey;
}

a:hover {
  color: silver;
}

.btn {
  border-radius: 0px;
}

.form-control {
  border-radius: 0px;
}

.nav {
  width: 100%;
}

.nav-link {
  font-weight: 900;
}

.nav-pills .nav-link.active {
  background-color: transparent
}

#content {
  display: flex;
  justify-content: center;
  position: relative;
}

@media (max-width: 767.98px) {
  #content {
    border-inline-width: 4.2px;
    width: 555.6px;
    margin: 30px;
  }
}

@media (min-width:768px) {
  #content {
    border: 4.8px solid white;
    border-top: none;
    margin-left: 72.63px;
    width: 555.6px;
    padding: 29.73px 49.91px;
    padding-bottom: 149.75px;
  }
}

@media (min-width:992px) {
  #content {
    border-inline-width: 6.75px;
    margin-left: 97px;
    width: 743.5px;
  }
}

@media (min-width:1200px) {
  #content {
    border-inline-width: 7.2px;
    margin-left: 116px;
    width: 883.5px;
  }
}

#show-more-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

#show-more {
  font-size: 1.5rem;
  cursor: pointer;
}

#footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  bottom: -160px;
  z-index: 1;
  width: 225px;
  height: 15rem;
  background-color: black;
  padding: 1rem;
}

@media (max-width: 767.98px) {
  #footer {
    display: none;
  }
}

.words {
  padding: 1vw;
  margin-top: 5vh;
  font-weight: 700;
}

.social-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 280px;
  position: relative;
  left: -50px;
}

.social-logo {
  height: 40px;
}

.video-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 1900px;
}

.video {
  height: 100%;
  margin: 10px;
}

.music-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-around;
  width: 100%;
}

.music {
  margin: 10px;
}

.caret {
  width: 0;
  height: 0;
  display: inline-block;
  border: 10px solid transparent;
  position: relative;
  top: 10px;
  margin: 0px 10px;
}

.caret.down {
  border-top-color: grey;
}

/* 
.social-container{
  text-align: center;
}

.social-container a{
  margin-left: 15px;
  margin-bottom: 10px;
}

.social-logo{
  height: 30px;
}



.wole-menu {
  color: red;
  margin-left: 15px;
}

.wole-menu a {
  color: white;
  font-size: 20px;
  margin: 2px;
  transition: background-color 0.3s;
}

.wole-menu>li>a:hover {
  background-color: #D93A2F;
}

.wole-menu>li>a:focus{
  color: black;
  font-size: 25px;
}


h1 {
  font-weight: 700;
  font-size: 25px;
}

.active {
  font-weight: bold;
}

.words {
  padding: 15px;
}

.center {
  padding: auto 50px;
  display: block;
}

.fixed {
  position: fixed;
}

iframe {
  padding: 15px;
}

.theme_color_red {
  color: #D93A2F;
}

#latest_event>a:hover, #latest_event>a:focus{
  color: #D93A2F;
  text-decoration: none;
} */