body {
  background-color: black;
}

.Wole-container {
  padding: 20px;
  margin-left: 0px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.wole-menu a {
  color: white;
}

.nav>li>a:hover {
  background-color: #D93A2F;
}

.nav>li>a:focus{
  color: black;
}

/* #D93A2F */

h1 {
  font-weight: 700;
  font-size: 25px;
}

.active {
  font-weight: bold;
}

.words {
  padding: 15px;
}

.center {
  padding: auto 50px;
  display: block;
}

.fixed {
  position: fixed;
}

iframe {
  padding: 15px;
}

.theme_color_red {
  color: #D93A2F
}

hr.style-seven {
  overflow: visible; /* For IE */
  height: 30px;
  border-style: solid;
  border-color: black;
  border-width: 1px 0 0 0;
  border-radius: 20px;
}

hr.style-seven:before { /* Not really supposed to work, but does */
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: black;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}

