body {
  background-color: black;
}

.logo:hover {
  transform: rotate(360deg);
  -webkit-transform:rotate(360deg);
  -moz-transform:rotate(360deg); 
  -o-transform:rotate(360deg);
}

.logo {
  height: 100px;
  margin-bottom: 10px;
  margin-top: 10px;
  
  overflow: hidden;
  transition-duration: 0.8s;
  transition-property: transform;
}

.Wole-container {
  padding: 20px;
  margin-left: 0px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.wole-menu {
  color: red;
  margin-left: 15px;
}

.wole-menu a {
  color: white;
  font-size: 20px;
}

.wole-menu a {
  margin: 2px;
}

.wole-menu>li>a:hover {
  background-color: #D93A2F;
}

.wole-menu>li>a:focus{
  color: black;
  font-size: 25px;
}

/* #D93A2F */

h1 {
  font-weight: 700;
  font-size: 25px;
}

.active {
  font-weight: bold;
}

.words {
  padding: 15px;
}

.center {
  padding: auto 50px;
  display: block;
}

.fixed {
  position: fixed;
}

iframe {
  padding: 15px;
}

.theme_color_red {
  color: #D93A2F;
}

#latest_event>a:hover, #latest_event>a:focus{
  color: #D93A2F;
  text-decoration: none;
}
