.Wole-logo {
  height: 180px;
}


.Wole-container {
  padding: 20px;
  margin-left: 0px;
  font-family: Arial, Helvetica, sans-serif;
}


h1 {
  font-weight: 700;
  font-size: 25px;
}

.active {
  font-weight: bold;
}

.words {
  padding: 15px;
}

.center {
  padding: auto 50px;
  display: block;
}

.fixed {
  position: fixed;
}

iframe {
  padding: 15px;
}
