body {
  background-color: black;
}

.Wole-container {
  padding: 20px;
  margin-left: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.wole-menu a{
  color: #D93A2F;
}

h1 {
  font-weight: 700;
  font-size: 25px;
}

.active {
  font-weight: bold;
}

.words {
  padding: 15px;
}

.center {
  padding: auto 50px;
  display: block;
}

.fixed {
  position: fixed;
}

iframe {
  padding: 15px;
}

.theme_color_red {
  color: #D93A2F
}

