.Wole-logo {
  height: 180px;
}

.Wole-menu {
  margin-top: 25px;
  list-style-type: none;
  padding-left: 0px;
}

.Wole-menu li {
  line-height: 20px;
}

.Wole-container {
  padding: 20px;
  margin-left: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

a,
a:focus {
  color: black;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
  text-decoration: none;
}

h1 {
  font-weight: 700;
  font-size: 25px;
}

.active {
  font-weight: bold;
}

.words {
  padding: 15px;
}

.center {
  margin: auto;
  display: block;
}

.fixed {
  position: fixed;
}

iframe {
  padding: 15px;
}
